* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/Familydark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* Vertically scale the background image, maintaining its aspect ratio */
    }

    nav ul li:not(:nth-child(4)) {
        display: none;
        font-size: 20px;
    }
}

.journey /* Journey in Awe specific styles */{
    text-align: center;
    flex-grow: 2;
    align-self: flex-end;
}

nav {
    width: 70%;
    margin: 0 auto;
}


nav ul /* Flexbox for navigation menu */ {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Horizontally center items */
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
}

nav ul li /* List item styles including the media query */ {
    margin: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fcfbfa;
}

nav ul li a/* Link styles */{
    font-size: 16px;
    text-decoration: none;
    color: #fcfbfa;
}

hr {
    border: none;
    height: 1px;
    background:#fcfbfa;
    margin: 0 3em;
}

main {
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 8em auto;
    
}

.quote, .about-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fcfbfa;
    padding: 1em;
}

.quote {
    background-color: rgba(0, 0, 0, 0.2)
}

.about-text {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-us {
    font-family: 'Madelyn', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fcfbfa;
    text-align: center;
    padding: 2em 0 0 0;
}


