* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/SunsetMountainsDark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* Vertically scale the background image, maintaining its aspect ratio */
    }
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
  }
  
.site-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

.journey /* Journey in Awe specific styles */{
    text-align: center;
    flex-grow: 2;
    align-self: flex-end;
}

nav {
    width: 80%;
    margin: 0 auto;
}

/* Hide all navigation links except "Journey in Awe" on smaller screens */
@media (max-width: 768px) {
    nav ul li:not(:nth-child(4)) {
        display: none;
        font-size: 20px;
    }
}


nav ul /* Flexbox for navigation menu */ {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Horizontally center items */
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
}

nav ul li /* List item styles including the media query */ {
    margin: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fcfbfa;
}

nav ul li a/* Link styles */{
    font-size: 16px;
    text-decoration: none;
    color: #fcfbfa;
}

hr {
    border: none;
    height: 1px;
    background:#fcfbfa;
    margin: 3em;
}

main {
    padding-top: 200px;
}

article {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 10px; /* Add some space from the top */
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fcfbfa;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 15em 15em;
 
}
