h1,
p {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #2d2d2d;
}

.centered {
    display: flex;

}


body {
    background-image: url('SunsetMountains.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.flex-container {
    justify-content: center;
    display: flex;
}

.flex-item {
    padding: 1em;
    text-align: center;
    flex-grow: 1;
}