* {
    margin: 0;
    box-sizing: border-box;
}

.home {
    background-image: url(images/SunsetMountainsDark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

header, .about-header, .offerings-header, .awe-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
  }

  main {
    padding-top: 150px; /* Adjust this value as needed to create space for the header */
  }

.journey /* Journey in Awe specific styles */{
    text-align: center;
    flex-grow: 2;
    align-self: flex-end;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav ul /* Flexbox for navigation menu */ {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Horizontally center items */
    justify-items: center;
}

nav ul li /* List item styles including the media query */ {
    margin: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fcfbfa;
}

nav ul li a/* Link styles */{
    font-size: 16px;
    text-decoration: none;
    color: #fcfbfa;
}

hr {
    border: none;
    height: 1px;
    background:#fcfbfa;
    margin: 200px 50px 50px 50px;
}

.main-box, .second-box, .third-box {
    width: 80%;
    max-width: 500px;
    margin: 100px auto 0;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fcfbfa;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.second-box, .third-box {
    width: 80%;
    max-width: 500px;
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 10px; /* Add some space from the top */
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fcfbfa;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* About page styles */

.about-body {
    background-image: url(images/Familydark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.about-main {
    padding-top: 200px;
}

.about-main-home, .awe-main-home {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 2px; /* Add some space from the top */
    padding-top: 50px; /* Adjust this value as needed to create space for the header */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fcfbfa;
    font-size: 16px;
}

.offerings-main {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    flex-direction: column;
}

.about-main-home>.quote, .awe-main>.quote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    margin: 1em 0 1em 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.about-text {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-us {
    font-family: 'Madelyn', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fcfbfa;
    text-align: center;
}

.quote, .about-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fcfbfa;
    padding: 1em;
}

/*offerings styles*/

.offerings-body {
        background-image: url(images/SunsetMountainsDark.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
}

.offerings-main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 200px; /* Add some space from the top */
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fcfbfa;
    font-size: 16px;
    display: flex;
    flex-direction: column;
 
}

/* awe styles home page */

.awe-text {
    font-family: 'Madelyn', sans-serif;
    text-align: center;
    color: #fcfbfa;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;

}

.awe-main-home > .one, .two, .three {
    display: flex;
    flex-direction: row;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    margin: 10px;
    padding: 10px;
    background-color: rgba(252, 251, 250, .4);
}


.awe-main-home h3 {
    padding-top: 0.5em;
    
}

a {
    text-decoration: none;
    color: #fcfbfa;
}

.join {
    color: #fcfbfa;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 10px; /* Add some space from the top */
    padding: 20px;
}


footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fcfbfa;
    background-color: rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 10px; /* Add some space from the top */
    padding: 20px;
    text-align: center;
}

/* smaller screens */
/* Hide all navigation links except "Journey in Awe" on smaller screens */
@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* Vertically scale the background image, maintaining its aspect ratio */
    }

    nav ul li:not(:nth-child(3)) {
        display: none;
    }

    img {
        height: 80px;
        width: auto;
    }
}